# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.=.swp

tutorial*
notes/
kernels/
sampled_data/
impact.png
data/
transforms-script/hrzData/
transforms-script/jsonData/
transforms-script/transformsData/
transforms-script/transforms/
