# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.=.swp

choldate/
data/kernels/lsk/
data/kernels/pck/
data/kernels/spk/
data/mpc_data
data/orbit_fits
generated_data/

Anaconda3-2025.06-0-Linux-x86_64.sh
